/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff0070;
  --accent-hover-color: rgba(255, 0, 112, 0.4);
  --text-expressive-color: #db00ff;
  --text-primary-color: #000028;
  --text-secondary-color: #f1b2ce;
  --background-primary-color: var(--text-primary-color);
  --background-accent-color: var(--accent-color);
  --background-image: url(../images/cover-image-dark.png);
  --shadow-primary-color: var(--accent-color);
  --shadow-secondary-color: var(--accent-color);
  & .header__decoration {
    display: flex;
  }
}
